body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.top-empty{
	margin-top: 150px;
	padding-top : 1rem !important; 
	padding-bottom : 1rem !important;
}

.pricing-header {
  max-width: 700px;
}
