<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org./dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.com.vo.abAnimal">
	<sql id="table">AbandonedAnimal</sql>
	<sql id="pk">ABANIMALCODE</sql>
	<sql id="columnsAPI">
		abAge,
		color,
		abanimalCode,
		abThumbPic,
		findDate,
		findLoc,
		breedCode,
		noticeEndDate,
		noticeNum,
		noticeStartDate,
		abPic,
		stateCode,
		neuter,
		sex,
		abFeat,
		abWeight,
		breedTypeCode,
		abShelterCode
	</sql>
	<sql id="insertColumnsAPI">
		TO_NUMBER(#{abAge, jdbcType=FLOAT}),
		#{color, jdbcType=NUMERIC},
		TO_NUMBER(#{abanimalCode, jdbcType=NUMERIC}),
		#{abThumbPic},
		#{findDate, jdbcType=DATE},
		#{findLoc},
		TO_NUMBER(#{breedCode, jdbcType=NUMERIC}),
		#{noticeEndDate, jdbcType=DATE},
		#{noticeNum},
		#{noticeStartDate, jdbcType=DATE},
		#{abPic},
		TO_NUMBER(#{stateCode, jdbcType=NUMERIC}),
		#{neuter},
		#{sex},
		#{abFeat},
		TO_NUMBER(#{abWeight, jdbcType=FLOAT}),
		TO_NUMBER(#{breedTypeCode, jdbcType=NUMERIC}),
		TO_NUMBER(#{abShelterCode})
	</sql>

	<!-- insert -->
	<insert id="insertAbAnimalFromApi" parameterType="java.util.Map">
		insert into 
		<include refid="table" />
		(<include refid="columnsAPI" />) 
		values 
		(<include refid="insertColumnsAPI" />) 
	</insert>

	<!-- select -->
	<sql id="selectBasic">
		select 
		<include refid="columnsAPI"/>
		from
		<include refid="table"/>
	</sql>
	
	<select id="selectAbAnimalAll" resultType="abAnimal">
		<include refid="selectBasic"/>
	</select>
	
	<select id="selectAbAnimalOfNO" parameterType="int" resultType="abAnimal">
		select
			<include refid="columnsAPI"/>
		from
			(
				select
				rownum as num, <include refid="columnsAPI"/>
				from 
				<include refid="table"/>
				order by findDate desc 
			)
		<![CDATA[where num < #{no} and num >= #{no}-30]]>	
	</select>

	<select id="selectAbAnimal_PK" resultType="java.lang.Long">
		select
		<include refid="pk" />
		from
		<include refid="table" />
	</select>

	<select id="selectAbAnimal_PKCheck" 
		parameterType="java.lang.Long"
		resultType="java.lang.Long">
		select
		<include refid="pk"/>
		from
		<include refid="table"/>
		where
		<include refid="pk"/>
		= #{abanimalCode, jdbcType=NUMERIC}
	</select>
	
	<select id="selectAbAnimalInfo" parameterType="java.lang.Long" resultType="java.util.HashMap">
	select 
    abPic,
    breedTypeName,
    sex,
    abFeat,
    findDate,
    noticeEndDate,
    breedName,
    color,
    findLoc,
    NoticeStartDate,
    AbAge,
    abweight,
    stateName,
    abShelterTel,
    abShelterName
from
    AbandonedAnimal, AbState, Breed, abShelter, breedType
where
    abAnimalCode = #{no} 
    and 
    AbState.stateCode = AbandonedAnimal.stateCode
    and
    Breed.breedCode = AbandonedAnimal.breedCode
    and
    abShelter.abShelterCode = AbandonedAnimal.abShelterCode
    and
    breedType.breedTypeCode = AbandonedAnimal.breedTypeCode
	</select>

</mapper>