<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org./dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.com.vo.abState">
	<sql id="table">AbState</sql>
	<sql id="pk">STATECODE</sql>
	<sql id="columnsAPI">stateCode, stateName</sql>
	<sql id="insertColumnsAPI">#{stateCode}, #{stateName}</sql>
	<sql id="name">stateName</sql>
	<sql id="seq">AbState_seq.nextVal</sql>

	<!-- insert -->
	<insert id="insertAbStateFromApi" parameterType="java.util.Map">
		insert into 
		<include refid="table" />
		(<include refid="columnsAPI" />) 
		values 
		(<include refid="insertColumnsAPI" />) 
	</insert>
	
	<insert id="insertAbStateFromVO" parameterType="AbState">
		insert into 
		<include refid="table"/>
		values( <include refid="insertColumnsAPI"/> )
	</insert>

	<!-- select -->
	<select id="selectAbState_PK" resultType="java.lang.Integer">
		select
		<include refid="pk" />
		from
		<include refid="table" />
	</select>
	
	<select id="selectAbState_All" resultType="abState">
		select * from <include refid="table"/>
	</select>
	
	<select id="selectAbState_Code_Name" 
		parameterType="java.lang.String" resultType="java.lang.Integer">
		select 
		<include refid="pk"/>
		from
		<include refid="table"/>
		where 
		<include refid="name"/>
		= #{name}	
	</select>
	
	<select id="getAbStateSequence" resultType="java.lang.Integer">
		select
		<include refid="seq"/>
		from
		dual
	</select>
	


</mapper>