<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org./dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.com.vo.sigungu">
	<sql id="table">Sigungu</sql>
	<sql id="pk">sigunguCode</sql>
	<sql id="columns">sigunguCode, sigunguCodeName, sidoCode</sql>
	<sql id="insertColumns">#{sigunguCode}, #{sigunguCodeName}, #{sidoCode}</sql>

	<!-- insert -->
	<insert id="insertSigunguFromApi" parameterType="java.util.Map">
		insert into 
		<include refid="table"></include>
		(<include refid="sist.com.vo.sigungu.columns" />) 
		values 
		(<include refid="insertColumns" />) 
	</insert>


	<!-- select -->
	<select id="selectSigunguAll" resultType="sigungu">
		select 
		<include refid="columns"/>
 		from
		<include refid="table" />
	</select>

	<select id="selectSigungu_PK" resultType="java.lang.Integer">
		select
		<include refid="pk" />
		from
		<include refid="table" />
	</select>
	
	<select id="selectSigunguCodeList" resultType="sigungu">
		select sigunguCode, sidoCode from 
		<include refid="table"></include>	
	</select>

</mapper>