<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB set-up(Connection) -->
	<typeAliases>
		<typeAlias type="sist.com.vo.MemberInfoVO" alias="memberInfo" />
		<typeAlias type="sist.com.vo.SidoVO" alias="sido" />
		<typeAlias type="sist.com.vo.SigunguVO" alias="sigungu" />
		<typeAlias type="sist.com.vo.AbShelterVO" alias="abShelter" />
		<typeAlias type="sist.com.vo.BoardListVO" alias="boardList" />
	</typeAliases>

	<mappers>
		<mapper resource="sist/com/mapper/memberInfo_mapper.xml" />
		<mapper resource="sist/com/mapper/sido_mapper.xml" />
		<mapper resource="sist/com/mapper/sigungu_mapper.xml" />
		<mapper resource="sist/com/mapper/abShelter_mapper.xml" />
		<mapper resource="sist/com/mapper/board_mapper.xml" />
	</mappers>

</configuration>